/* rail component (slider rail)*/
.railHotspot {
	background-color: rgba(128, 128, 128, 0.3);
	width: 100%;
	height: 3px;
	position: absolute;
	cursor: pointer;
	top: -3px;
	/* left: 20px; */
	border-radius: 3px;
}

.rail {
	background-color: transparent;
	width: 90%;
	height: 12px;
	position: absolute;
}

/* handle component (slider dots)*/
.root {
	background-color: gold;
	margin-left: 2px;
	margin-top: -4px;
	width: 6px;
	height: 6px;
	border: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 3px rgba(241, 230, 75, 0.5);
	white-space:nowrap;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

/* track component */
.track {
	background-color: rgba(78, 74, 74, 0.5);
	
	height: 4px;
	margin-left: 10px;
	position: absolute;
	top: -2px;
	z-index: 1;
	cursor: pointer;
}

.trackHotspot {
	height: 12px;
	top: -6px;
	position: absolute;
	cursor: pointer;
}

/* tick component */
.tick {
	position: absolute;
	margin-top: 14px;
	width: 1px;
	height: 5px;
	background-color: white;
}

.label {
	position: absolute;
	margin-top: 22px;
	text-align: center;
}

/* main slider component */
.rangeSlider {
	position: relative;
	width: 615px;
	height: 76px;
	overflow: hidden;
	background-color: rgb(25, 21, 46);
	display: flex;
}

.rangeSlider-wrapper {
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	margin-left: 10px;
	gap: 5px;
}

.rangeSlider-wrapper-title {
	font-weight: bold;
	font-size: 14px;
}

.rangeSlider-wrapper-subtitle {
	font-weight: normal;
}

.rangeSlider-input-wrapper {
	display: flex;
	gap:4px;	
}


.rangeSlider-main {
	padding: 20px;
	margin-bottom: 20px;
}

.rangeSlider-close {
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: white;
	position: absolute;
	top: 2px;
	right: 2px;
}

.rangeSlider-input {
	width: 100px;
	height: 20px;
	border-radius: 6px;
	background-color: transparent;
	color: white;
	border: 1px solid gray;
	padding: 5px;
}

.rangeSlider-input:focus {
	outline: none;
}

